.banner {
	background-image: url("https://i.ibb.co/rwFLvbN/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
}

@media (max-width: 768px) {
    .banner {
      background-image: url("https://i.ibb.co/rwFLvbN/banner.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px; 
    }
  }

  @media (min-width: 320px) and (max-width: 425px) {
    .banner {
      background-image: url("https://i.ibb.co/rwFLvbN/banner.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px; 
    }
  }